//// SIZES ////

//Mobile
$sizeMobile : 768px;


//// MARGIN ////

//Desktop
$marginLarge : 100px;

//Mobile
$marginMobile: 20px;

//// COLORS ////

//Primaire
$colorPrimary: #FF6060;
$colorSecond: #FFFFFF;
